*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgb(211, 226, 237);
}

/* .child-container{
    border: 2px solid black;
} */

/* Header */

#admin-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px 0px 15px 0px;

}
.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
}

.logo img{
    height: 7vh;
    width: 7vw;
    margin: 5px;
}
.logo{
    font-family: Bungee Spice;
    font-size: 30px;
}

.loginbtn{
    position: absolute;
    right: 30px;
   
}
.loginbtn button{
    width: 90px;
    padding: 4px;
    border-radius: 14px;
}

/* Navbar */
#admin-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #9fc0c0;
    padding: 5px 0px;
    border-bottom:4px solid black ;
}
.nav-items{
    border: 2px solid black;
    margin: 5px 50px 5px 0px;
}

/* Body */
#admin-body{
    /* height: 100%;
    width: 100%; */
    /* width: 70vw; */
    /* height: 70vh; */
    margin: 40px;

}
.admin-body-items-container{
    border: 2px solid #718995;
    display: flex;
    flex-direction: row;
}
.admin-body-items{
    background-color:rgb(204 217 228);
    border: 1px solid rgb(166 173 180);;
    width: 20vh;
    height: 19vh;
    margin: 30px 30px;
    padding: 20px;
    border-radius: 25px;
}


