.addstudent-container{
    display: flex;
}
section {
    /* position: relative; */
    margin: 25px 30px;
    background-color: white;
    padding: 6px 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h2{
    margin: 15px 19px;
    text-align: center;
    
}
#studentsList {
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: skyblue;
    color: white;
}
tbody{
    margin: 30px 0px 0px 0px;
}
#studentsList{
    /* position: absolute;
    right: 30px;
width: 58vw; */
width:100%;
overflow-y: scroll;
height: 100%;

}

#table-image{
 width: 18%;
}

#table-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
td button{
    width: 80px;
    padding: 4px;
    border-radius: 8px;
    color: white;
    border: 0px;
    font-size: 15px;
    margin-right: 6px;
  }
  #removebtn button{
    background-color: #BB2D3B;
  }
  #returnbtn button{
    background-color: #0B5ED7;
  } 
  #removebtn{
    padding: 0px;
    width: 100px;
    text-align: center;
    margin: 23px;
  }
  #returnbtn{
     padding: 0px;
    width: 100px;
    text-align: center;
    margin: 23px;
  }